<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>            
        </handlers>
        <rewrite>
           <rules>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />                     
                    </conditions>
                    <action type="Rewrite" url="public/index.php/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="false" />
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />       
        <ModSecurity enabled="false" configFile="C:\Program Files\ModSecurity IIS\modsecurity_iis.conf" />
        <GeoFiltering enabled="false" blockedCountries="" setHeaders="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="index.shtml" />
                <add value="default.html" />
                <add value="default.htm" />
                <add value="default.shtml" />
                <add value="index.php" />
                <add value="default.php" />
                <add value="index.asp" />
                <add value="default.asp" />
                <add value="index.aspx" />
                <add value="default.aspx" />
                <add value="holding.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <system.web>
        <compilation debug="false" />
    </system.web>
</configuration>

